@using Microsoft.AspNetCore.Http

<div class="navbar-nav justify-content-center">
    @{

        var userId = Context.Session.GetString("userId");
        var userName = Context.Session.GetString("userName");
        if (userId == null)
        {
            // Context.Response.Redirect("/Account");

        }
    }
    @if (@userId == null)
    {
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-light">
            Login
        </a>
    }
    else
    {
        <form method="post" asp-controller="Account" asp-action="Logout">
            <button class="btn btn-outline-light">
                @userName,Logout
            </button>
        </form>
    }
</div>
