@{
    ViewData["Title"] = "Confirm";
}

<div class="alert alert-success">

    <strong>@ViewData["message"]</strong>:<a asp-controller="Home" asp-action="Index" class="alert-link">Click to go Home</a>

</div>
